* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: lightslategrey;
  height: 100vh;
  font-family: "tarrget", sans-serif;
}
#game {
  background-color: yellowgreen;
  font-size: 50px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  width: 500px;
  height: 500px;
  background-image: url(/images/grid.png);
  background-size: cover;
}
.board:hover {
  cursor: pointer;
}

.circle {
  background-image: url(/images/circle.png);
}

.cross {
  background-image: url(/images/x.png);
}

.circle,
.cross {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: lightyellow;
  border: 2px solid yellowgreen;
  width: 100px;
  height: 50px;
  font-family: 'tarrget';
}

#player-name {
  display: none;
  border: 2px solid yellowgreen;
  width: 40px;
  height: 40px;
}
