body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: lightgray;
    
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'tarrget', sans-serif;
    font-size: 50px;
}


table{
    border: 5px solid black;
    padding: 5px;
}

td {
    border: 5px solid black;
    height: 150px;
    width: 150px;
    }